.icon-s {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-s {
	font-size:(9/10)*1rem;
	width:(21/9)*1em;
}
.icon-attachment-s {
	font-size:(367.6/10)*1rem;
	width:(367.6/367.6)*1em;
}
.icon-cancel-s {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.icon-top-rated-s {
	font-size:(100.4/10)*1rem;
	width:(642.2/100.4)*1em;
}
