/*@keyframes translate{
    0%{
        transform: translate(0, 0%);
        opacity: 1;
    }
    33%{
        transform: translate(50%, 0%);
        opacity: 1;
    }
    39%{
        opacity: 1;
    }
    40%{
        transform: translate(100%, 0%);
        opacity: 0;
    }
    75%{
        transform: translate(-100%, 0%);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0%);
        opacity: 1;
    }
}*/

@keyframes translate{
    0%{
        transform: translate(100%, 0%);
        opacity: 0;
    }
    50%{
        transform: translate(-100%, 0%);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0%);
        opacity: 1;
    }
}

.js-effect-opacity{
    opacity: 0;
    transition: $linear-f;
    &.active{
        opacity: 1;
    }
}

.js-effect-img{
    position: relative;
    top: 100px;
    opacity: 0;
    overflow: hidden;
    transition: $linear-f;
    .js-effect-img-wrap{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        border: 0 solid transparent;
        transition: $linear-f;
    }
    img{
        transition: $linear-f;
    }
    &:hover img{
        transform: scale(0.9,0.9);
    }
    &:hover .js-effect-img-wrap{
        border: 50px solid $color3;
    }
    &.active{
        top: 0;
        opacity: 1;
    }
    &::before,
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all .4s ease;
    }
    &::before{
        display: none;
        background-color: $color-before;
        transition-delay: 0s;
        z-index: 4;
    }
    &.active::before{
        height: 0;
    }
    &::after{
        background-color: $color-after;
        transition-delay: .5s;
        z-index: 2;
    }
    &.active::after{
        height: 0;
    }
}

.js-effect-text{
    opacity:  0;
    top: 100px;
    position: relative;
    transition: $linear-f;
    &.active{
        top: 0;
        /*transition-delay: .5s;*/
        opacity: 1;
    }
}
.js-effect-title-before{
    opacity:  0;
    right: 100px;
    position: relative;
    transition: $linear-f;
    &.active{
        right: 0;
        /*transition-delay: .5s;*/
        opacity: 1;
    }
}

.js-effect-line{
    opacity:  0;
    top: 100px;
    position: relative;
    transform: scale(0.5,0.5);
    transition: $linear-f;
    &.active{
        top: 0;
        /*transition-delay: .5s;*/
        opacity: 1;
        transform: scale(1,1);
    }
}

.js-change-text{
    position: relative;
    white-space: nowrap;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        background-color: #fff;
        z-index: -1;
        transition: all .1s ease;
    }
    &.active{
        color: #fff;
        &::before{
            width: 100%;
            background-color: $color1;
        }
    }
}


@media only screen and (max-width: 1024px) {
    .menu-item-has-children {
        & > a {
            position: relative;
            &::before,
            &::after {
                content: '';
                position: absolute;
                background-color: #69696a;
                transition: $linear-f;
            }
            &::before {
                bottom: 5px;
                left: 105%;
                height: 1px;
                width: 0;
            }
            /*        &::after{
                        top: 100%;
                        right: -50px;
                        width: 1px;
                        height: 0;
                    }*/

        }
        &.on-active > a {
            &::before {
                width: 1000%;
            }
            /*        &::after{
                        height: 150px;
                    }*/
        }
    }
}

.active[disabled-btn="true"]{
    color: #69696a;
    border: 1px solid #69696a;
    pointer-events: none;
    cursor: default;
}
.wpcf7.no-active{
    form{
        transition: $linear-f;
        width: 0;
        height: 0;
        opacity: 0;
    }
}