@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

//start font-size for rem
$fz: 10;
$min-media: 480;
$max-media: 1680;

// Fonts
$font1: 'Circle', sans-serif;
$font2: 'Open Sans','sans-serif';
$font3: 'Georgia', serif;

// = Colors
// -----------------------------

// Graphic chart

$color1: #ec1f27;
$color2: #1e1e21;
$color3: #f5f5f9;

$color-before: #1e1e21;
$color-after: #323232;

// = Transitions
// -----------------------------
$linear: all .5s linear;
$linear-f: all .2s linear;
$bezier-big-img: all .4s cubic-bezier(0.555, 0.205, 0.295, 0.975);

// = Inline grid
// -----------------------------
%parent{
  font-size: 0;
  line-height: 0;
  letter-spacing: -7px;
}
%child{
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  display: inline-block;
}
%align-middle{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

//all property in px and rem
@mixin ptr($property,$values){
    $max: length($values);
    $pxValues: '';
    $remValues: '';
    @if $max > 1{
        @for $i from 1 through $max{
            $value: nth($values, $i);
            $pxValues: #{$pxValues + $value}px;
            $remValues: #{$remValues + $value/$fz}rem;
            @if $i < $max {
                $pxValues: #{$pxValues + ' '};
                $remValues: #{$remValues + ' '};
            }
        }
        #{$property}:$pxValues;
        #{$property}:$remValues;
    }
    @else{
        #{$property}:#{$values + px};
        #{$property}:#{$values/$fz + rem};
    }
}

//фонт в пикселях и ремах
@mixin ptrFont($property,$fw,$fs,$lh,$font){
    #{$property}:$fw #{$fs+px/$lh+px} $font;
    #{$property}:$fw #{($fs/$fz)+rem/($lh/$fz)+rem} $font;
}

//цвет плейсхолдров
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

//убираем единици измерения
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number){
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

//функция динамического изменения единиц шрифта
@function calcFluidFontSize($f-min, $f-max, $w-min, $w-max, $units: px){
    $f-min: strip-unit($f-min);
    $f-max: strip-unit($f-max);
    $w-min: strip-unit($w-min);
    $w-max: strip-unit($w-max);

    $k: ($f-max - $f-min)/($w-max - $w-min);
    $b: $f-min - $k * $w-min;

    $b: $b + $units;

    @return calc( #{$k} * 100vw + #{$b} );
}

@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $lh, $fallback: false) {

    font-size: $f-max;
    line-height: $lh;
    @media only screen and (max-width: $w-max) {
        @if ($fallback) {
            font-size: $fallback;
            line-height: $fallback + 4;
        }
        font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
        line-height: calcFluidFontSize($f-min + 4, $lh, $w-min, $w-max, px);
    }
    @media only screen and (max-width: $w-min) {
        font-size: $f-min;
        line-height: $f-min + 4;
    }
}


// = Typography
// -----------------------------
//h1
$h1-f-min: 22px;
$h1-f-max: 52px;
$h1-lh: 68px;
$h1-fallback: 36px;
//h2
$h2-f-min: 16px;
$h2-f-max: 42px;
$h2-lh: 52px;
$h2-fallback: 32px;
//h3
$h3-f-min: 18px;
$h3-f-max: 36px;
$h3-lh: 46px;
$h3-fallback: 26px;
//h4
$h4-f-min: 16px;
$h4-f-max: 26px;
$h4-lh: 26px;
$h4-fallback: 22px;
//h5
$h5-f-min: 15px;
$h5-f-max: 18px;
$h5-lh: 18px;
$h5-fallback: 24px;
//p
$p-f-min: 14px;
$p-f-max: 18px;
$p-lh: 28px;
$p-fallback: 16px;


%fonts{
    @include fluidFontSize(22px,52px,480px,1680px,68px,36px);
    @include fluidFontSize($h1-f-min,$h1-f-max,$min-media,$max-media,$h1-lh,$h1-fallback);
    @include fluidFontSize(16px,42px,480px,1680px,46px,32px);
    @include fluidFontSize($h2-f-min,$h2-f-max,$min-media,$max-media,$h2-lh,$h2-fallback);
    @include fluidFontSize(18px,36px,480px,1680px,46px,26px);
    @include fluidFontSize($h3-f-min,$h3-f-max,$min-media,$max-media,$h3-lh,$h3-fallback);
    @include fluidFontSize(16px,26px,480px,1680px,34px,22px);
    @include fluidFontSize($h4-f-min,$h4-f-max,$min-media,$max-media,$h4-lh,$h4-fallback);
    @include fluidFontSize(15px,21px,480px,1680px,18px,24px);
    @include fluidFontSize(14px,18px,480px,1680px,30px,16px);
    @include fluidFontSize($h5-f-min,$h5-f-max,$min-media,$max-media,$h5-lh,$h5-fallback);
    @include fluidFontSize(14px,16px,480px,1680px,28px,15px);
    @include fluidFontSize(12px,14px,480px,1680px,26px,13px);
    @include fluidFontSize(10px,12px,480px,1680px,24px,11px);

    @include fluidFontSize($p-f-min,$p-f-max,$min-media,$max-media,$p-lh,$p-fallback);
}
