<footer class="footer">
    <div class="copy"><p>Copyright &copy; 2015 Synergy Way. All rights reserved.</p></div>
    <div class="popup-block popup-form" id="modal">
        <form action="#" method="post">
            <div class="popup-title">
                <h4>Estimate Project</h4>
            </div>
            <div class="form-group js-form-group">
                <input type="text" id="js-mail" class="validate-field"/>
                <label for="js-mail">Your Email:</label>
            </div>
            <div class="form-group js-form-group">
                <input type="tel" id="js-phone" class="validate-field"/>
                <label for="js-phone">Phone number:</label>
            </div>
            <div class="form-group form-group-last js-form-group">
                <input type="text" id="js-message" class="validate-field"/>
                <label for="js-message">Tell us about your project </label>
            </div>

            <div class="form-file">
                <input type="file" id="upload-popup-file"/>
                <label for="upload-popup-file">
                    <span>Upload File</span>
                    <svg class="icon-s icon-attachment-s">
                        <use xlink:href="css/sprite-build/sprite.svg#attachment-s"></use>
                    </svg>
                </label>
                <div class="progress">
                    <div class="progress-bar"><span class="progress-bar-line"></span></div>
                    <div class="progress-status"></div>
                    <p class="progress-total"></p>
                    <div class="progress-close js-progress-close"></div>
                </div>
            </div>
            <label><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit"></label>
        </form>
    </div>

    <div class="popup-block popup-summit" id="modal-sammit">
        <div class="popup-summit-parent js-summit">
            <div class="popup-close"></div>
            <div class="popup-img">
                <img src="images/summit.png" alt="summit">
            </div>
            <a href="#" class="btn-empty">meet us</a>
        </div>
    </div>

    <div class="scroll-top js-scroll-top">
        <svg class="icon-s icon-arrow-s">
            <use xlink:href="css/sprite-build/sprite.svg#arrow-s"></use>
        </svg>
    </div>

</footer><!-- .footer -->