<header class="header">

    <div class="container-s">
        <div class="h-parent">
            <div class="logo">
                <a href="#"><img src="images/logo.svg" alt="logo"></a>
            </div>
            <nav class="menu">
                <span class="btn-menu js-menu"><i></i></span>
                <ul>
                    <li class="menu-item-has-children"><a href="#">About Us</a>
                        <ul>
                            <li><a href="#">The Company</a></li>
                            <li><a href="#">How We Work</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Join Us</a></li>
                        </ul></li>
                    <li class="menu-item-has-children"><a href="#">Services</a>
                        <ul>
                            <li><a href="#">The Companies</a></li>
                            <li><a href="#">How We Work in team</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Join Us</a></li>
                        </ul></li>
                    <li><a href="#">Our Works</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li class="contacts-menu"><a href="#">Contact Us</a></li>
                </ul>
            </nav>
            <!--<div class="h-estimate">
                <a href="javascript:;" data-fancybox="modal" data-src="#modal" class="btn-empty">Estimate Project</a>
            </div>-->
        </div>
    </div>

</header>