$grid: 12;

$gutter-container: 100;//якщо з боків є відступи в вигляді якось панелі, то вписуємо сюди її ширину в пікселях, якщо таких панелей немає то 0

$media-xl: 1919;
$media-lg: 1279;
$media-md: 1023;
$media-sm: 767;
$media-sl: 639;
$media-xs: 479;

$fz: 10;

$container: 1170;
$gutter: 15;
