/* ==|====================
   Layout/Container
   ======================= */

.wrapper {
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.content{
    @include ptr(padding,0 0 100);
    @include ptr(margin-top,115);
}
.container-s{
    width: 100%;
    @include ptr(padding, 0 170);
    position: relative;
    &::before,
    &::after{
        content: " ";
        display: table;
        clear: both;
    }
}