.btn-empty{
    @include fluidFontSize(12px,14px,480px,1680px,18px,13px);
    @include ptr(padding, 0 30);
    @include ptr(height, 60);
    @include ptr(line-height, 60);
    text-align: center;
    display: inline-block;
    font-weight: bold;
    border: 1px solid $color1;
    color: $color2;
    text-transform: uppercase;
    &:hover{
        background-color: $color1;
        color: #fff;
    }
}