.btn-empty{
    @include ptr(padding, 0 30);
    @include ptr(height, 60);
    @include ptr(line-height, 60);
    @include ptr(font-size, 14);
    text-align: center;
    display: inline-block;
    font-weight: bold;
    border: 1px solid $color1;
    color: $color2;
    text-transform: uppercase;
    &:hover{
        background-color: $color1;
        color: #fff;
    }
}
.btn-colored{
    background-color: $color1;
    border: 1px solid $color1;
    color: #fff;
    &:hover{
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
    }
}
.btn-right{
    float: right;
}


.btn-full{
    @include ptr(height, 60);
    @include ptr(width, 60);
    @include ptr(line-height, 60);
    @include ptr(font-size, 14);
    text-align: center;
    display: block;
    font-weight: bold;
    border: 1px solid $color1;
    color: $color2;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: $linear-f;
    &:hover{
        background-color: $color1;
        color: #fff;
        @include ptr(width, 237);
        span{
            opacity: 1;
            position: static;
/*            transition-delay: .1s;*/
        }
    }
    span{
        position: absolute;
        display: inline-block;
        top: 100%;
        left: 0;
        opacity: 0;
        color: #fff;
        @include ptr(margin,0 50 0 0);
        transition: $linear-f;
        transition-delay: 0s;
    }
    i{

    }
}
.btn-skills{
    position: absolute;
    @include ptr(bottom,68);
    @include ptr(right,68);
    color: #fff;
}
