/* ==|====================
   Module/Global
   ======================= */

/*===titles===*/
.title-main{
    position: relative;
    font-family: $font1;
    font-weight: bold;
    padding-left: 11%;
    width: 100%;
    @include fluidFontSize(12px,14px,480px,1680px,18px,13px);
    text-transform: uppercase;
    h1,h2,h3,h4{
        font-weight: bold;
    }
    &::before{
        content: '';
        position: absolute;
        top: 68%;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $color1;
        transition: $linear-f;
    }
    &.active::before{
        width: 10%;
    }
}
.title-main-right{
    padding-right: 11%;
    text-align: right;
    &::before{
        left: auto;
        right: 0;
    }
}

.title-big{
    @include fluidFontSize(18px,52px,480px,1680px,68px,36px);
    @include ptr(padding,0 10 0 280);
    text-transform: none;
    &::before{
        top: 35%;
    }
    &.active::before{
        @include ptr(width,250);
    }
}
.title-intermediate{
    @include fluidFontSize(16px,42px,480px,1680px,48px,32px);
    @include ptr(padding,0 10 0 280);
    text-transform: none;
    color: #fff;
    h2{
        @include ptr(margin,0 0 90 0);
    }
    &::before{
        top: 35%;
    }
    &.active::before{
        @include ptr(width,250);
    }
}


.title-general{
    position: relative;
    font-family: $font1;
    font-weight: bold;
    @include fluidFontSize(18px,36px,480px,1680px,48px,26px);
    @include ptr(margin,0 0 15 0);
    h1,h2,h3,h4{
        font-weight: bold;
    }
}


.general-block-info{
    display: flex;
    flex-wrap: wrap;
    @include ptr(padding,0 30 0 0);
    h4{
        @include fluidFontSize(16px,21px,480px,1680px,25px,18px);
        font-weight: bold;
        @include ptr(margin,0 0 15 0);
    }
}

.sections-title{
    @include fluidFontSize(21px,42px,480px,1680px,52px,32px);
    font-weight: bold;
    @include ptr(margin,90 0 0 0);
}



//*---OWL-CAROUSEL---*/
.owl-controls{
    position: absolute;
    top: 0;
    right: 0;
    @include ptr(padding,55 0);
    @include ptr(width,20);
}
.owl-dots{
    @include ptr(padding,0 6);
}
.owl-dots div{
    display: inline-block;
    @include ptr(width,8);
    @include ptr(height,7);
    @include ptr(margin,20 0 0 0);
    &:first-child{
        margin: 0;
    }

    background-color: #b9c2c7;
    border-radius: 50%;
    transition: $linear;
}

.owl-dots .active,
.owl-dots div:hover{
    background-color: $color1;
}

.owl-nav{
    div{
        position: absolute;
        @include ptr(width,20);
        @include ptr(height,12);
        &::before,
        &::after{
            content: '';
            position: absolute;
            @include ptr(top,5);
            @include ptr(width,12);
            height: 1px;
            background-color: #b9c2c7;
            transition: $linear;
        }
        &:hover{
            &::before,
            &::after{
                background-color: $color1;
            }
        }
    }
    .owl-prev{
        top: 0;
        &::before{
            left: 0;
            transform: rotate(135deg);
        }
        &::after{
            right: 0;
            transform: rotate(-135deg);
        }
    }
    .owl-next{
        bottom: 0;
        &::before{
            left: 0;
            transform: rotate(45deg);
        }
        &::after{
            right: 0;
            transform: rotate(-45deg);
        }
    }
}


.js-view-all-parent{
    overflow: hidden;
}








/*
@-webkit-keyframes typing {
    from {
        width: 0
    }
    to {
        width: 14.17em
    }
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 14.17em
    }
}

@-webkit-keyframes caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: black
    }
}

@keyframes caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: black
    }
}

body {
    font-family: Consolas;
    font-size:16px;
}

h1{
    font-size: 150%;
    width: 14.1em;
    white-space: nowrap;
    overflow: hidden;
    border-right: .1em solid #333;
    -webkit-animation: typing 13s steps(26, end), caret 0.9s step-end infinite;
    animation: typing 13s steps(26, end), caret 0.9s step-end infinite;
}*/
