/* ==|====================
   Module/Responsive
   ======================= */

@media only screen and (max-width: 2000px) {

}

@media only screen and (max-width: 1680px) {
    .menu > ul > li > a{
        @include ptr(padding,0 25);
    }
    .menu > ul > li ul{
        @include ptr(margin,0 -15);
    }
    .menu > ul > li ul li a{
        @include ptr(padding,0 40);
    }
    .main-carousel-info{
        @include ptr(width, 280);
    }
    .main-carousel-description{
        width: 55%;
    }
    html{
        font-size: 9px;
    }
}

@media only screen and (max-width: 1366px) {
    .container-b{
        @include ptr(padding, 0 170);
    }
    .title-big,
    .title-intermediate{
        @include ptr(padding,0 10 0 170);
        &.active::before{
            @include ptr(width,130);
        }
    }
    .skills-text{
        @include ptr(width,440);
    }
    .general-block-info{
        padding: 0;
    }
    .owl-dots {
        padding: 0 7px;
    }
    .owl-dots div{
        width: 6px;
        height: 6px;
    }

    html {
        font-size: 8px;
    }
}

@media only screen and (max-width: 1280px) {
    .menu > ul > li > a{
        @include ptr(padding,0 20);
    }
    .menu > ul > li ul{
        @include ptr(margin,0 -20);
    }
    .menu > ul > li ul li a{
        @include ptr(padding,0 40);
    }
    .benefits-description{
        float: none;
        margin: 0;
    }
    .btn-empty{
        @include ptr(padding, 0 20);
    }
    .contact-item{
        @include ptr(margin-top, 35);
        &:first-child{
            @include ptr(margin, 0 10 0);
        }
    }
    .deep-page{
        @include ptr(padding, 100 0);
    }
    .join-info,
    .join-btn{
        @include ptr(margin-top, 40);
    }
    .team-btn{
        margin: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .container-s{
        @include ptr(padding, 0 50);
    }
    .skills-item{
        @include ptr(padding, 50);
    }
}

@media only screen and (max-width: 1024px) {
    .about-us,
    .benefits,
    .technologies,
    .partners{
        @include ptr(padding, 100 0);
    }
    .main-carousel-description{
        width: 55%;
        @include ptr(margin,0 0 0 350);
    }
    .benefits-description{
        width: 100%;
    }
    .skills-text{
        @include ptr(width, 320);
    }
    .header{
        @include ptr(padding, 20 0);
    }
    .h-estimate{
        @include ptr(padding, 0 70 0);
    }
    .menu > ul{
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0;
        background-color: $color2;
        @include ptr(width, 0);
        @include ptr(padding, 100 0 0);
        height: 100%;
        z-index: 2;
        overflow: hidden;
        transition: $linear-f;
        .h-estimate{
            position: absolute;
            padding: 0;
            @include ptr(top, 20);
            @include ptr(left, 50);
            .btn-empty{
                color: #fff;
            }
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color2;
            z-index: 3;
        }
        /*&::before{
            content: '';
            position: absolute;
            @include ptr(top, 99);
            left: 0;
            background-color: #e8e8f0;
            height: 1px;
            width: 100%;
        }*/
    }
    .btn-menu{
        display: block;
        &.active{
            &+ul{
                opacity: 1;
                @include ptr(width, 450);
                &::before{
                    display: none;
                }
            }
        }
    }
    .menu > ul > li{
        width: 100%;
        @include ptr(padding, 20 50 0);
        @include ptr(margin, 0 0 20);
        ul{
            display: block;
            margin: 0;
            left: auto;
            right: 0;
            top: calc(100% - 22px);
            z-index: 2;
            opacity: 1;
            background-color: $color2;
            &::before{
                content: '';
                position: absolute;
                top: 17px;
                left: 0;
                width: 1px;
                height: 0;
                background-color: #69696a;
                z-index: 2;
                transition: $linear-f;
            }
            li{
                &:first-child a{
                    margin: 0;
                }
                a{
                    position: relative;
                    @include ptr(padding, 0 30 0);
                    @include ptr(margin, 44 0 0);
                    text-transform: lowercase;
                    height: auto;
                    font-size: 18px;
                    line-height: 22px;
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 5px;
                        left: 0;
                        width: 0;
                        height: 1px;
                        background-color: #69696a;
                        transition: $linear-f;
                    }
                }
            }
        }
        &:hover ul{
            top: calc(100% - 22px);
            z-index: 2;
        }
        &.active ul{
            &::before{
                height: calc(100% - 22px);
            }
            li{
                a{
                    color: #fff;
                    &::before{
                        width: 15px;
                    }
                }
            }
        }
    }
    .menu > ul > li > a{
        color: #fff;
        height: auto;
        display: inline-block;
        font-size: 22px;
        line-height: 26px;
        padding: 0;
    }
    .menu > ul > li ul::after{
        display: none;
    }
    .partners-img{
        width: 100%;
    }
    .partners-item .general-block-info{
        width: 100%;
        @include ptr(margin,40 0 0 0);
    }
    .join-item{
        @include ptr(margin,80 0 0 0);
    }
}

@media only screen and (max-width: 768px) {
    .title-big{
        line-height: 30px;
        @include ptr(padding, 0 50);
        &::before{
            display: none;
        }
    }
    .title-main-left{
        padding-left: 12%;
        &::before{
            top: 60%;
        }
    }
    .title-main-right{
        padding-right: 12%;
        &::before{
            top: 60%;
        }
    }
    .m-info{
        @include ptr(height,500);
    }
    .case{
        display: block;
        @include ptr(margin, 0 0 40 0);
    }
    .case-img{
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .case-info{
        width: 100%;
        @include ptr(padding, 50 60 0);
        margin: 0;
    }
    .case:nth-child(even){
        .case-info{
            margin: 0;
        }
    }
    .main-carousel-description{
        width: 50%;
        @include ptr(margin,0 0 0 280);
    }
    .main-carousel-info{
        @include ptr(width,250);
    }
    .main-carousel-description::before{
        @include ptr(top,-70);
    }
    .main-carousel-description::after{
        @include ptr(bottom,-70);
    }
    .cases-parent{
        @include ptr(margin, 40 0 0 0);
    }
    .team-row{
        flex-wrap: wrap;
    }
    .team-parent{
        display: flex;
        flex-wrap: wrap;
        @include ptr(margin-left, -20);
        @include ptr(margin-right, -20);
    }
    .team-item{
        width: 50%;
    }
    html{
        font-size: 8px;
    }
}

@media only screen and (max-width: 640px){
    .title-big {
        line-height: 30px;
    }
    .testimonials{
        @include ptr(padding,100 0 50);
    }
    .m-info{
        @include ptr(height,400);
    }
    .skills-item{
        width: 100%;
    }
    .about-us-experience{
        flex-wrap: wrap;
        @include ptr(margin, 60 -10 0);
    }
    .experience-item{
        width: 100%;
        display: block;
        text-align: center;
        @include ptr(margin,20 0);
        span{
            position: relative;
            &::before{
                content: '+';
                position: absolute;
                top: 0;
                @include ptr(right,-22);
                font-size: 26px;
            }
        }
    }
    .experience-item-info{
        padding: 0;
        i{
            display: none;
        }
    }
    .main-carousel{
        @include ptr(margin,40 0 0 0);
    }
    .main-carousel-item{
        @include ptr(padding, 40 0);
    }
    .main-carousel-info{
        width: 100%;
        float: none;
        text-align: center;
        img{
            margin: 20px auto 0;
        }
    }
    .main-carousel-description{
        width: 100%;
        @include ptr(margin, 60 0 0 0);
    }
    .main-carousel-description::before{
        @include ptr(top,-50);
    }
    .main-carousel-description::after{
        @include ptr(bottom,-70);
    }
    .owl-controls{
        position: relative;
        width: 100%;
        padding: 0;
        margin-top: 60px !important;
        text-align: center;
    }
    .owl-dots{
        display: inline-block;
    }
    .owl-dots div{
        width: 8px;
        height: 8px;
        @include ptr(margin, 0 8);
        &:first-child{
            @include ptr(margin, 0 8);
        }
    }
    .owl-nav div{
        margin: 0;
        transform: rotate(-90deg);
    }
    .owl-nav .owl-prev {
        top: -3px;
        left: -5px;
    }
    .owl-nav .owl-next {
        top: -3px;
        right: -5px;
    }
}

@media only screen and (max-width: 480px) {
    .container-s{
        @include ptr(padding,0 20);
    }
    .container-b{
        @include ptr(padding,0 50);
    }
    .about-us,
    .cases,
    .benefits,
    .testimonials,
    .technologies,
    .partners{
        @include ptr(padding, 60 0);
    }
    .menu > ul > li > a{
        font-size: 20px;
        line-height: 24px;
    }
    .estimation{
        @include ptr(padding, 40 0);
    }
    .contact-us{
        @include ptr(padding, 60 0 0);
    }
    .title-big {
        line-height: 30px;
    }
    .title-big,
    .title-intermediate{
        @include ptr(padding,0 20 0 50);
        &::before{
            display: none;
        }
    }
    .title-big.active::before,
    .title-intermediate.active::before{
        @include ptr(width,40);
    }
    .title-intermediate h2{
        @include ptr(margin, 0 0 40 0);
    }
    .btn-menu{
        @include ptr(right,20);
    }
    .btn-menu.active + ul{
        width: 100%;
    }
    .h-estimate{
        @include ptr(padding, 0 50 0 20);
    }
    .about-us-info{
        width: 100%;
        @include ptr(margin, 40 0 0 0);
    }
    .contact-parent{
        @include ptr(margin,40 0);
    }
    .contact-parent{
        flex-wrap: wrap-reverse;
    }
    .contact-form{
        @include ptr(margin,40 0);
    }
    .contact-info{
        margin: 0;
    }
    .contact-item{
        @include ptr(margin,30 0);
        &:first-child{
            margin: 0;
        }
    }
    .benefits-description{
        @include ptr(padding,0 20);
    }
    .copy{
        font-size: 12px;
    }
    .title-deep{
        @include ptr(padding, 0 20);
    }
    .team-item{
        width: 100%;
        text-align: center;
    }
    html {
        font-size: 7px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-resolution: 1.5dppx){
    .case-img{
        img{
            display: inline-block;
            &:first-child{
                display: none;
            }
        }
    }
}