/* ==|====================
   Module/Responsive
   ======================= */

@media only screen and (max-width: 2000px) {

}

@media only screen and (max-width: 1680px) {
    .menu > ul > li > a,
    .menu > ul > li ul li a{
        @include ptr(padding,0 20);
    }
    .partners-img{
        width: 100%;
    }
    .partners-item .general-block-info{
        width: 100%;
        @include ptr(margin,40 0 0 0);
    }
    html{
        font-size: 9px;
    }
}

@media only screen and (max-width: 1366px) {
    .container-b{
        @include ptr(padding, 0 170);
    }
    .title-big,
    .title-intermediate{
        @include ptr(padding,0 10 0 170);
        &.active::before{
            @include ptr(width,130);
        }
    }
    .skills-text{
        @include ptr(width,440);
    }
    .general-block-info{
        padding: 0;
    }

    html {
        font-size: 8px;
    }
}

@media only screen and (max-width: 1280px) {
    .benefits-description{
        float: none;
        margin: 0;
    }
    .main-carousel-description {
        @include ptr(margin, 0 0 0 320);
        @include ptr(width, 500);
    }
    .owl-dots div{
        @include ptr(height,8);
    }
}

@media only screen and (max-width: 1200px) {
    .container-s{
        @include ptr(padding, 0 50);
    }
    .skills-item{
        @include ptr(padding, 50);
    }
    .main-carousel-description {
        @include ptr(width, 660);
    }
}

@media only screen and (max-width: 1024px) {
    .main-carousel-description{
        @include ptr(width,400);
        @include ptr(margin,0 0 0 280);
    }
    .main-carousel-info{
        @include ptr(width,280);
    }
    .benefits-description{
        width: 100%;
    }
    .skills-text{
        @include ptr(width, 320);
    }
}

@media only screen and (max-width: 768px) {
    html{
        font-size: 8px;
    }
}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 480px) {
    html {
        font-size: 7px;
    }
}