/* ==|====================
   Module/Text_edit
   ======================= */

.text-edit{
    h1{
        font-weight: bold;
        font-family: $font1;
        @include fluidFontSize(22px,52px,480px,1680px,68px,36px);
        @include ptr(margin, 0 0 50);
        color: $color2;
    }
    h2{
        font-weight: bold;
        font-family: $font1;
        @include fluidFontSize(18px,36px,480px,1680px,48px,26px);
        @include ptr(margin, 0 0 40);
    }
    h3{
        font-weight: bold;
        font-family: $font1;
        @include fluidFontSize(16px,26px,480px,1680px,38px,22px);
        @include ptr(margin, 80 0 40);
    }
    p{
        font-family: $font1;
        @include fluidFontSize(14px,18px,480px,1680px,28px,16px);
    }
}

.text-edit a {
    color: $color1;;
}

.text-edit a:hover {
    text-decoration: underline;
}


.text-edit strong {
    font-weight: bold;
}

.text-edit h4 + ul{
    @include ptr(margin,0 0 30 15);
}
.text-edit ul {
    @include fluidFontSize(14px,16px,480px,1023px,20px,16px);
    text-align: left;
    @include ptr(margin,30 0 30 15);
}

.text-edit ul li ul {
    @include ptr(margin-top,15);
    text-align: left;
}
.text-edit ul li {
    list-style-type: none;
    position: relative;
    @include ptr(margin-top,5);
    @include ptr(padding-left,13);
    display: block;
    text-align: left;
}
.text-edit ul li:first-child{
	margin: 0;
}
.text-edit ul li:before {
    content: '';
    position: absolute;
    display: block;
    @include ptr(top,6);
    left: 0;
    @include ptr(width,6);
    @include ptr(height,6);
    border-radius: 50%;
    background-color: $color1;
}

.text-edit ul li span{
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

.text-edit ol {
    @include ptr(line-height,50);
    text-align: left;
    counter-reset: li;
}
.text-edit ol li {
    position: relative;
    @include ptr(margin-top,40);
    @include ptr(padding,0 0 0 60);
    display: block;
    text-align: left;
    &:first-child{
        margin: 0;
    }
}

.text-edit ol li:before {
    content: '0' counter(li, decimal) "";
    counter-increment: li;
    color: $color2;
    position: absolute;
    top: 0;
    left: 0;
}

.text-edit > img{
    margin: 0 20px 0 0;
    margin: 0 2rem 0 0;
    display: block;
    max-width: 100%;
    height: auto;
    float: left;
}

.text-edit blockquote {
    border: 1px dotted $color1;
    border-left: 5px solid $color3;
    border-left: .5rem solid $color3;
    font-style: italic;
    padding: 10px;
    padding: 1rem;
    width: 85%;
    margin: 15px auto 0;
    margin: 1.5rem auto 0;
}

.text-edit table{
    width: 100%;
    @include ptr(margin-top,20);
}
.text-edit th{
    font-weight: bold;
    padding: 18px;
    padding: 1.8rem;
    background-color: #ebebeb;
    border-left: 1px solid #d7d7d7;
    text-align: left;
}
.text-edit th:first-child{
    border-left: 1px solid #ebebeb;
}
.text-edit th:last-child{
    border-right: 1px solid #ebebeb;
}
.text-edit td{
    background-color: #fff;
    font-weight: 400;
    padding: 18px;
    padding: 1.8rem;
    border: 1px solid #d7d7d7;
}
