/* ==|====================
   Base/Fonts
   ======================= */

@font-face {
    font-family: 'Circle';
    src:
        url("../fonts/CRC25.otf");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Circle';
    src:
            url("../fonts/CRC35.otf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Circle';
    src:
            url("../fonts/CRC55.otf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Circle';
    src:
            url("../fonts/CRC65.otf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Circle';
    src:
            url("../fonts/CRC75.otf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src:    local('Georgia'),
            url("../fonts/georgiab.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src:    local('Georgia'),
            url("../fonts/georgiaz.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Georgia';
    src:    local('Georgia'),
            url("../fonts/georgia.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src:
            local('Georgia'),
            url("../fonts/georgiai.ttf");
    font-weight: 400;
    font-style: italic;
}